// font
$font_base: 14px;

// color
$bg_color01: #d6a46b;

$max_width: 1240px;

@mixin max_width_st {
  margin: {
    left: auto;
    right: auto;
  }
  padding: {
    left: 20px;
    right: 20px;
  }
  width: $max_width;
}
