// font
$font_base: 14px;
$font-EN: 'Roboto', sans-serif;
$font-KR: 'Noto Sans KR', sans-serif;

// color
$bg_color01: #d6a46b;

$max_width: 1240px;

@mixin max_width_st {
  margin: {
    margin: 0 auto;
  }
  padding: {
    left: 20px;
    right: 20px;
  }
  max-width: $max_width;
}

@mixin tag {
  padding: 6px;
}
