@import "variables.scss";

// 홈 화면 공통
.tag {
  padding: 2px 8px;
  background-color: aquamarine;
  border-radius: 6px;
}


// 홈화면 좌측 영역
.homeleft-wrap {
  a {
    color: $font-color02;
  }
  li + li {
    margin-top: 12px;
  }
  .left-list {
    display: block;
    padding: 12px 12px;
    border: 1px solid #d2d2d2;
    border-radius: 12px;
    width: 180px;
    background-color: #fff;
    transition: all 0.3s;
    &:hover {
      background-color: #d0ffec;
    }
    .top {
      margin-bottom: 8px;
    }
    .bottom {
      font-weight: 700;
    }
  }
}

// 홈 중앙
.home-middle-wrap {
  margin-left: 30px;
  margin-right: 30px;
  width: 620px;
}

// 홈 질문 작성 폼
.question-form-wrap {
  margin-bottom: 40px;
  border: 1px solid #7c7c7c;
  background-color: #fff;
  input {
    box-sizing: border-box;
    transition: all 0.2s;
    &:focus {
      outline: none;
      background-color: #f3d0d0;
    }
  }
  .title {
    width: 100%;
    background-color: inherit;
    border: none;
    padding: 6px 12px;
    font-size: $font-base + 2px;
    border-bottom: 1px solid #ababab;
  }
  input[type="radio"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    & + label {
      cursor: pointer;
      background-color: #ababab;
      margin-left: 12px;
      transition: all 0.2s;
    }
    &:checked {
      & + label {
        background-color: #7c7c7c;
        // platform
        &.boj {
          background-color: aquamarine;
        }
        &.programmers {
          background-color: #e8e858;
        }
        &.swea {
          background-color: #6ebcf0;
        }
        &.etc {
          background-color: #f3d0d0;
        }
        // type
        &.time {
          background-color: #8c90de;
        }
        &.logic {
          background-color: #94de8c;
        }
        &.error {
          background-color: #dea98c;
        }
      }
    }
  }
  .platform, .type {
    padding: 8px 12px;
    border-bottom: 1px solid #ababab; 
  }
  
  .text {
    width: 100%;
    box-sizing: border-box;
    border: none;
    resize: none;
    padding: 8px 12px;
    transition: all 0.2s;
    font-size: $font-base + 2px;
    border-bottom: 1px solid #ababab;
    overflow: hidden;
    &:focus {
      outline: none;
      background-color: #f3d0d0;
    }
  }
}

// 질문 카드
.question_card_list {
  width: 620px;
  li + li {
    margin-top: 20px;
  }
  .question_card_wrap {
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
    padding-top: 16px;
    .card-header {
      padding: 0 24px;
      // border-bottom: 1px #000000 solid;
      padding-bottom: 20px;
      display: flex;
      .profile-img {
        width: 40px;
        height: 40px;
        margin-right: 16px;
        img {
          border-radius: 50%;
          width: 100%;
        }
      }
      .header-info {
        .info-top {
          margin-bottom: 4px;
          .user-name {
            font-weight: 700;
          }
        }
        .info-bottom {
          color: $font-color03;
        }
      }
    }
    .question-basic-info {
      padding: 0 24px;
    }
    .problem-info {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      font-size: $font-base;
      .platform {
        background-color: #b8e3ff;
        margin-right: 12px;
      }
      .title {
        margin-right: 12px;
      }
      .problem-link {
        color: #7c7c7c;
        font-size: $font-base;
      }
    }
    .title-wrap {
      margin-bottom: 8px;
      .problem-species {
        margin-right: 12px;
      }
      .question_card_title {
        display: inline-block;
        font-size: $font-base + 6px;
        font-weight: 700;
        margin-bottom: 12px;
      }
    }
    .detail-area {
      height: 0;
      transition: all 0.2s;
      overflow-y: hidden;
    }
    .more-btn {
      cursor: pointer;
      display: inline-flex;
      margin-top: 12px;
      margin-bottom: 12px;
      align-items: center;
      font-weight: 700;
      &::after {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('../../public/assets/ico/ico_24_arrow_down.png') center/contain;
      }
    }
    .open {
      // margin-bottom: 20px;
    }

    .card-bottom {
      border-top: 1px solid #bebebe;
      padding: {
        left: 24px;
        right: 24px;
        top: 6px;
        bottom: 6px;
      }
      .like, .reply {
        display: inline-flex;
        align-items: center;
      }
      .like {
        margin-right: 24px;
      }
    }


    @mixin ico_render($ico_name) {
      content: "";
      width: 20px;
      height: 20px;
      display: inline-block;
      background: url("../../public/assets/ico/#{$ico_name}.png") center/20px;
      margin-right: 6px;
    }
    $ico_list: "like", "reply";
    @each $ico in $ico_list {
      .#{$ico}::before {
        @include ico_render($ico);
      }
    }
  }
}

// 화면 우측 영역
.homeright-wrap {
  border: 1px solid #d2d2d2;
  width: 180px;
  height: 500px;
  padding: 20px;
  background-color: #fff;
}