@import "variables.scss";

.question_card_list {
  width: 50%;
  margin: 0 auto;
  .tag {
    padding: 2px 8px;
    background-color: aquamarine;
    border-radius: 6px;
  }
  .question_card_wrap {
    margin-top: 20px;
    padding: 20px 60px;
    border: 1px solid #000000;
    border-radius: 20px;
    .card-header {
      // border-bottom: 1px #000000 solid;
      padding-bottom: 12px;
    }
    .problem-info {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      .platform {
        background-color: #b8e3ff;
        margin-right: 12px;
      }
      .title {
        font-size: $font-base + 5px;
        margin-right: 12px;
      }
      .problem-link {
        color: #7c7c7c;
        font-size: $font-base;
      }
    }
    .title-wrap {
      margin-bottom: 8px;
      .problem-species {
        margin-right: 12px;
      }
    }
    .detail-area {
      height: 0;
      transition: all 0.2s;
      overflow-y: hidden;
    }
    .open {
      margin-bottom: 20px;
    }


    @mixin ico_render($ico_name) {
      content: "";
      width: 20px;
      height: 20px;
      display: inline-block;
      background: url("../../public/assets/ico/#{$ico_name}.png") center/20px;
    }
    $ico_list: "like", "reply";
    @each $ico in $ico_list {
      .#{$ico}::before {
        @include ico_render($ico);
      }
    }
  }
}
